default:
  # 通过环境变量覆盖配置
  # https://www.dynaconf.com/merging/
  # for override
  # export DYNACONF_<config_name>= '{item=1234}'
  # for merge
  # export DYNACONF_<config_name>= '@merge {item=1234}'
  # 中间件配置
  MYSQL_DATASOURCE_CONFIG:
    USERNAME: '@format {env[MAIN_RDB_USERNAME]}'
    PASSWORD: '@format {env[MAIN_RDB_PASSWORD]}'
    HOST: '@format {env[MAIN_RDB_HOST]}'
    DATABASE: '@format {env[MAIN_RDB_DATABASE]}'
    PORT: '@int @format {env[MAIN_RDB_PORT]}'
  REDIS_DATASOURCE_CONFIG:
    HOST: '@format {env[REDIS_HOST]}'
    PORT: '@int @format {env[REDIS_PORT]}'
    PASSWORD: '@format {env[REDIS_PASSWORD]}'
    DATABASE: '@int @format {env[REDIS_DB]}'
  CELERY_CONFIG:
    CELERY_BROKER: '@format {env[CELERY_BROKER]}'
    CELERY_BACKEND: '@format {env[CELERY_BACKEND]}'
    CELERY_REDBEAT: '@format {env[CELERY_REDBEAT]}'
    REDBEAT_LOCK_TIMEOUT: 60
    BEAT_WORKER_NUM: 2
    WORKER_NUM: 2
    MAX_TASKS_PER_CHILD: 10
  # 企业微信配置
  WECHAT_WORK_CONFIG:
    CORP_ID: '@format {env[CORP_ID]}'
    GOLD_AGENT_ID: '@int @format {env[GOLD_AGENT_ID]}'
    GOLD_CORP_SECRET: '@format {env[GOLD_CORP_SECRET]}'
    HOSPITAL_AGENT_ID: '@int @format {env[HOSPITAL_AGENT_ID]}'
    HOSPITAL_CORP_SECRET: '@format {env[HOSPITAL_CORP_SECRET]}'
    MUSIC_AGENT_ID: '@int @format {env[MUSIC_AGENT_ID]}'
    MUSIC_CORP_SECRET: '@format {env[MUSIC_CORP_SECRET]}'
  # 群晖配置
  SYNOLOGY_CONFIG:
    SYNOLOGY_HOST: '@format {env[SYNOLOGY_HOST]}'
    SYNOLOGY_PORT: '@int @format {env[SYNOLOGY_PORT]}'
    SYNOLOGY_USERNAME: '@format {env[SYNOLOGY_USERNAME]}'
    SYNOLOGY_PASSWORD: '@format {env[SYNOLOGY_PASSWORD]}'
    SYNOLOGY_USE_SSL: false
    SYNOLOGY_CERT_VERIFY: false
    SYNOLOGY_DSM_VERSION: 7
  # 黄金配置
  GOLD_CONFIG:
    # 京东金融-金价配置
    JD_FINANCE_API_URL: "https://ms.jr.jd.com/gw/generic/hj/h5/m/latestPrice"
    JD_FINANCE_API_HEADERS: '{"referer":"https://m.jdjygold.com/finance-gold/msjgold/homepage?orderSource=7","host":"ms.jr.jd.com"}'
    JD_FINANCE_API_PARAMS: '{}'
    # 样本数量[用于计算上涨下跌幅度]
    SAMPLE_COUNT: 40
    # 上涨幅度超过该值通知[金额]
    TARGET_RISE_PRICE: '@float @format {env[TARGET_RISE_PRICE]}'
    # 下跌幅度超过该值通知[金额]
    TARGET_FALL_PRICE: '@float @format {env[TARGET_FALL_PRICE]}'
    # 金价高于该值通知[具体价格]
    RISE_TO_TARGET_PRICE: '@float @format {env[RISE_TO_TARGET_PRICE]}'
    # 金价低于该值通知[具体价格]
    FALL_TO_TARGET_PRICE: '@float @format {env[FALL_TO_TARGET_PRICE]}'
    # 设置同类型通知在多长时间范围内限制重复推送次数[秒]
    DUPLICATE_NOTIFY_TIME_LIMIT: 90
    # 设置同类型通知重复推送多少次
    DUPLICATE_NOTIFY_TIMES: 3
  # 油管订阅
  YOUTUBE_SUBSCRIBE_LIST:
    - PATH: "/homes/chenliang/music"
      PLAYLIST: "https://music.youtube.com/playlist?list=PLZAE9aF6H86HZUSFf30crtLm22UiaoVrX"
  # 预约挂号
  HOSPITAL_RESERVE:
    - RESERVE_APP_ID: 501107
      RESERVE_DEPT_CODES: "25"
      RESERVE_DOCTOR_WORK_NUMS: "0561"
      RESERVE_REGISTER_TYPE: "1,2,5,6,7,9,I,J,M,K,W,Y,R,8"
      RESERVE_APPOINTMENT_TYPE: "1,2,5,6,7,9,I,J,M,K,W,Y,R,8"
      RESERVE_PRICE_LIMIT: 120
  # Clash订阅
  CLASH_CONFIG:
    SUB_CONVERTER_HOST: "127.0.0.1"
    SUB_CONVERTER_PORT: 25500
    SUBSCRIBE_LIST:
      - GROUP: "airport_1"
        URL: "https://sub1.smallstrawberry.com/api/v1/client/subscribe?token=39e2940902d7189d9b4e19dcc4daf75e"
        TYPE: "direct"
      - GROUP: "relit_1"
        URL: "https://relit.no-mad-world.club/link/5B50chJPqsVMldZZ?clash=4&extend=1"
        TYPE: "direct"
